
@{
    ViewBag.Title = "About";
}
<link href="~/Common/CSS/About.css" rel="stylesheet" />
<div style="height: 100vh">
    <div class="primary-container">
        <div>
            <img src="~/Common/Images/about-image.png" alt="About Us" style="height: 720px" />
        </div>
        <div class="content-center">
            <div class="content-padding-20 max-width-sm">
                <p class="text-dull text-title">Who we are</p>
                <p class="text-title-lg">
                    Helping developers and technologists write the script of the future.
                </p>
                <div>
                    <p class="text-secondary-custom">Our public platform <b>serves 120 million people every month,</b> making it one of the 50 most popular websites in the world.</p>
                    <p class="text-secondary-custom">Our asynchronous knowledge management and collaboration offering <b>Stack Overflow for Teams,</b> is transforming how people work.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="content-center" style="text-align: center">
        <div class="col-8">
            <div class="card-group shadow-lg">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">120+ million</h5>
                        <p class="card-text">Monthly visitors to our network</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">20+ Million</h5>
                        <p class="card-text">Questions asked to-date</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">14.2 seconds</h5>
                        <p class="card-text">Average time between new questions</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">46.3+ Billion</h5>
                        <p class="card-text">Times a developer got help</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">10,000+</h5>
                        <p class="card-text">Customer companies for all products</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

