@{
    ViewBag.Title = "Stack Overflow";
}
<link href="~/Common/CSS/Home.css" rel="stylesheet" />
<div class="card bg-transparent text-black">
    <div style="background-color: #ffc107;">
        <img src="~/Common/Images/home_image.svg" class="card-img" alt="Home">
    </div>
    <div class="card-img-overlay contentCenter">
        <div class="content-max-width-primary">
            <b>We &lt;3 people who code</b>
            <p class="content-max-width-secondary">
                We build products that empower developers and connect them to solutions that enable productivity, growth, and discovery.
            </p>
            <div>
                <button class="button-developer">For Developers</button>
                <button class="button-business">For Business</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top: 32px">
    <div class="contentCenter" style="margin-bottom: 15px">
        <h2>For developers, by developers</h2>
    </div>
    <hr class="content-divider" />
    <div class="contentCenter">
        <div class="content-text">
            <p>
                Stack Overflow is an <span class="container-text-primary">open community</span> for anyone that codes. We help you get answers to your toughest coding questions, share knowledge with your coworkers in private, and find your next dream job.
            </p>
        </div>
    </div>
    <div class="contentCenter" style="margin-top: 15px">
        <div class="card-deck col-7">
            <div class="card shadow-lg">
                <div class="contentCenter">
                    <div class="container-inner-image">
                        <img src="~/Common/Images/public-qa.svg" class="card-img-top" alt="Public QA">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Public Q&amp;A</h5>
                    <p class="card-text">Get answers to more than 16.5 million questions and give back by sharing your knowledge with others. Sign up for an account.</p>
                    <button class="button-simple">Browse questions</button>
                </div>
            </div>
            <div class="card shadow-lg">
                <div class="contentCenter">
                    <div class="container-inner-image">
                        <img src="~/Common/Images/private-qa.svg" class="card-img-top" alt="Private QA">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Private Q&amp;A</h5>
                    <p class="card-text">Level up with Stack Overflow while you work. Share knowledge privately with your coworkers using our flagship Q&A engine.</p>
                    <button class="button-business">Try for free</button>
                </div>
            </div>
            <div class="card shadow-lg">
                <div class="contentCenter">
                    <div class="container-inner-image" style="margin-bottom: 28px">
                        <img src="~/Common/Images/browse-jobg.svg" class="card-img-top" alt="Browse Jobs">
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Browse Jobs</h5>
                    <p class="card-text">
                        Find the right job through high quality listings and search for roles based on title, technology stack, salary, location, and more.
                    </p>
                    <button class="button-simple">Find a job</button>
                </div>
            </div>
        </div>
    </div>
</div>

